@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600");
@keyframes fadein{from{opacity:0}to{opacity:1}}
@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}
@keyframes fadein-right{from{opacity:0;transform:translateX(20px)}to{opacity:1;transform:translateX(0px)}}
@-webkit-keyframes fadein-right{from{opacity:0;transform:translateX(20px)}to{opacity:1;transform:translateX(0px)}}
@keyframes fadein-top{from{opacity:0;transform:translateY(-20px)}to{opacity:1;transform:translateY(0px)}}
@-webkit-keyframes fadein-top{from{opacity:0;transform:translateY(-20px)}to{opacity:1;transform:translateY(0px)}}
@keyframes swift-down{from{transform:translateY(0%)}to{transform:translateY(20%)}}
@-webkit-keyframes swift-down{from{transform:translateY(0%)}to{transform:translateY(20%)}}
.invisible{opacity:0}.fadeIn{-webkit-animation:fadein 1s ease-out;animation:fadein 1s ease-out}.fadeInRight{-webkit-animation:fadein-right 1s ease-out;animation:fadein-right 1s ease-out}.fadeInTop{-webkit-animation:fadein-top 1s ease-out;animation:fadein-top 1s ease-out}.swiftDown{-webkit-animation:swift-down 1s ease-out;animation:swift-down 1s ease-out}.swiftDownReversed{-webkit-animation:swift-down 1s reverse ease-out;animation:swift-down 1s reverse ease-out}
html,body,span,p,h1,h2,h3,h4,h5,h6{font-family:"Source Sans Pro","Roboto","Helvetica","Helvetica Neue","Source Han Sans SC","Source Han Sans TC","PingFang SC","PingFang HK","PingFang TC",sans-serif;color:#fff}
html{background:#2e405b}
body{font-size:18px;line-height:1.5em;background-color:#2e405b;background-image:linear-gradient(rgba(255,255,255,0.04) 1px,transparent 1px),linear-gradient(90deg,rgba(255,255,255,0.04) 1px,transparent 1px);background-size:24px 24px;background-attachment:fixed;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-shadow:1px 1px 1px rgba(0,0,0,0.04);min-height:100vh}
.site-title{border-left:solid #fff 2px}.site-title:hover{color:#2e405b !important;background:#fff !important;border-left:solid #fff 2px}.site-title:hover *{color:#2e405b !important}
.site-title-links a{border-bottom:solid #fff 2px}
a{color:#fff;border-bottom:solid #fff 2px}a:hover{color:#2e405b !important;background-color:#fff;border-bottom:solid transparent 2px}a:focus{color:#b3b3b3}
.current{border-bottom:solid #fff 3px !important}
.a-mute{color:#fff !important}.a-mute:hover,.a-mute:focus{color:#fff !important}
.soc a:hover{color:#e6e6e6 !important}.soc a:focus{color:#e6e6e6 !important}
.foreground{background:#fff !important}.background{background:#2e405b !important}
.foreground-text *{color:#fff !important}.background-text *{color:#2e405b !important}
.post-page .post-content blockquote{border-left-color:#fff;color:#ccc}
